@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

body {
  color: #495057;
}

/* html,
body,
:root {
  height: 100%;
} */
